In [5]:
import pandas as pd
from pathlib import Path

data_path = "../Resume-Screening-RAG-Pipeline/data/supplementary-data/"
cleaned_resume_path = data_path + "cleaned_resume.csv"
job_description_path = data_path + "job_title_des.csv"
all_data_path = data_path + "alt-cleaned_resume.csv"

cleaned_resume = pd.read_csv(cleaned_resume_path)
job_description = pd.read_csv(job_description_path)
all_data = pd.read_csv(all_data_path)

print(cleaned_resume.head())
print(job_description.head())
print(all_data.head())

       Category                                             Resume  \
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \nMay 2013 to May 2017 B.E  ...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills  R  Python  SAP HANA  Tableau  SAP HANA...
4  Data Science  Education Details \n MCA   YMCAUST,  Faridabad...

                                     ID
0  af844c8b-de2a-47ff-9b7d-4466af8826c2
1  142b7d78-30b7-4f30-bf5a-b38ad3a0a69e
2  6f51df9f-06e9-4775-a003-c571c6c1b1ea
3  6ccbffb4-cc31-4bfe-91a4-beb5b346ee16
4  d65b586d-327a-49b5-b8bb-3e0d79880d63
              Job Title                                    Job Description
0     Flutter Developer  We are looking for hire experts flutter develo...
1      Django Developer  PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...
2      Machine Learning  Data Scientist (Contractor)\n\nBangalore, IN\n...
3         iOS Developer  JOB DESCRIPTION:\n\nStrong framework outside o...
4  Full Stack Developer  job responsibility full stack engineer â€“ react...
         ID                                             Resume Category
0  16852973  HR ADMINISTRATOR/MARKETING ASSOCIATE\nHR ADMIN...       HR
1  22323967  HR SPECIALIST, US HR OPERATIONS Summary Versat...       HR
2  33176873  HR DIRECTOR Summary Over 20 years experience i...       HR
3  27018550  HR SPECIALIST Summary Dedicated, Driven, and D...       HR
4  17812897  HR MANAGER Skill Highlights HR SKILLS HR Depar...       HR

In [9]:
synthetic_data_path = "../Resume-Screening-RAG-Pipeline/data/main-data/"
synthetic_resume_path = synthetic_data_path + "synthetic-resumes.csv"

synthetic_resumes = pd.read_csv(synthetic_resume_path)
synthetic_resumes.head()

   ID                                             Resume
0   0   - :\nAs a recent graduate in Computer Science...
1   1   ()\n\nName: Jane Smith\n\nContact Information...
2   2  : \n\nName: Jane Doe\n\nAddress: 456 Main St, ...
3   3  : \n\nName: Jane Smith\nLocation: Bangalore, K...
4   4   ():\nName: John Doe\nContact Information: \nE...

In [15]:
from pprint import pprint

pprint(synthetic_resumes["Resume"].iloc[12])

(': \n'
 '\n'
 'Name: Jane Smith\n'
 'Email: janesmith@email.com\n'
 'Location: Virginia\n'
 '\n'
 'Summary:\n'
 'Java Developer with 3 years of experience in Software Development. '
 'Proficient in Java, Python, and C++. Experienced in developing and '
 'troubleshooting analytics. Skilled in identifying new ways to visualize and '
 'analyze data. BS in Mathematics with CompTIA Security+ certification.\n'
 '\n'
 'Experience:\n'
 'Java Developer\n'
 'ABC Company, Virginia\n'
 'March 2019 - Present\n'
 '- Developing and troubleshooting analytics.\n'
 '- Identifying new ways to visualize and analyze data.\n'
 '- Producing reports based on misconfigurations and/or anomalous activity '
 'discovered through analysis.\n'
 '\n'
 'Software Developer\n'
 'XYZ Corporation, Virginia\n'
 'June 2016 - February 2019\n'
 '- Contributed to the development of software applications.\n'
 '- Participated in the design and development of software systems.\n'
 '- Worked with a team of developers to deliver software solutions.\n'
 '\n'
 'Education:\n'
 'Bachelor of Science in Mathematics\n'
 'George Mason University, Fairfax\n'
 'May 2016\n'
 '\n'
 'Certifications:\n'
 'CompTIA Security+')

In [16]:
synthetic_resumes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1000 non-null   int64
 1   Resume  1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB